<html>
<body>
	<a href="/blog">timeline</a> &nbsp; &nbsp;
	<a href="/blog/profile/notifications"> notifications </a> &nbsp; &nbsp;
	<a href="/blog/signout"> sign out </a> &nbsp; &nbsp;
	<a href="/blog/profile/{{ request.user.username }}/token"> token </a>
	<br/><br/><br/>
	<h2> {{ profile.user.username }} profile </h2>
	<p> 
		<b> Name: {{ profile.name }} </b> 
	</p>
	<p> 
		<b> Age: {{ profile.age }} </b> 
	</p>

    <p> 
    	<b> Location: {{ profile.location }} </b> 
    </p>

    <br/><br/>
    
	<h2> send post: </h2>
    <form class='site-form' action="{% url 'submit_post' %}", method="post">
		title: <br/>
		<input type="text" name='title'>
		<br/>
		message: <br/>
		<input type="text" name="message">
		<br/>
		<input type="submit" value="post">
		{% csrf_token %}
	</form>
	{% if isempty %}
		<br/>
		<p> <b> You have no post! </b> </p>
	{% else %}
		<h2> Latest posts: </h2>
		<br/>
		{% for post in posts %}
	        <h3> Title : {{ post.title }} </h3>
	        <p> <b> 
	        	<a href="/blog/profile/{{ post.author }}/{{ post.id }}"> post text: </a> </b> 
	        	<br/>  
	        {{ post.text }}  </p>
	        <p> <b> creation date of post: </b> {{ post.created_date }} </p>
	        <p> <b> This post created by: </b> 
	        	<a href="/blog/home"> {{ post.author }} </a> </p>
	        <form class='delete-post' action="{% url 'delete_post' %}", method="post">
	        	{% csrf_token %}
	        	<input type='hidden' name='post_id' value= "{{ post.id }}">
	        	<input type="submit" value='delete'>
	        </form>
	        <form class='edit-post' action="/blog/edit_post/{{ post.id }}", method="get">
        		<input type="submit" value='edit'>
    		</form>
	        <br/><br/>
	    {% endfor %}
	{% endif %}

</body>
</html>