<html>
{% if user.is_authenticated %}
    <a href="/blog/home"> home </a>&nbsp; &nbsp;
    <a href="/blog/profile/notifications"> notifications </a> &nbsp; &nbsp;
    <a href="/blog/signout"> sign out </a>
{% else %}
    <a href="/blog/signin"> sign in </a>
    &nbsp; &nbsp;
    <a href="/blog/signup"> sign up </a>
{% endif %}
<br/><br/><br/>
    <body>
     {% for post in posts %}
        <h3> Title : {{ post.title }} </h3>
        
        <p> <b> 
            <a href="/blog/profile/{{ post.author }}/{{ post.id }}" > post text: </a>
        </b> 
            <br/>  
            {{ post.text }}  
        </p>
        <p> <b> creation date of post: </b> {{ post.created_date }} </p>
        <p> <b> This post created by: </b> 
            <a href="/blog/profile/{{post.author}}" > {{ post.author }} </a> </p>
        {% if user.username == post.author.username %}
        <form class='delete-post' action="{% url 'delete_post' %}", method="post">
                {% csrf_token %}
                <input type='hidden' name='post_id' value= "{{ post.id }}">
                <input type="submit" value='delete'>
            </form>
        <form class='edit-post' action="/blog/edit_post/{{ post.id }}", method="get">
            <input type="submit" value='edit'>
        </form>
        {% endif %}
        <br/><br/>
    {% endfor %}
    </body>
</html>
